@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  color: whitesmoke;
  background-color: #78d5d7;
  text-shadow: 1px 1px black;
}

.container-principal {
  margin-top: 150px;
  -webkit-animation: 1.5s ease-out 0s 1 aparecer, 1s ease-out 0s 1 deslizarCimaBaixo;
          animation: 1.5s ease-out 0s 1 aparecer, 1s ease-out 0s 1 deslizarCimaBaixo;
}

.mainTitle {
  text-shadow: 2px 2px #0b2f46;
  text-align: center;
}

.input-localizaçao {
  margin: auto;
  margin-top: 30px;
  width: 80%;
}

#match-list {
  width: 80%;
  margin: auto;
  margin-top: -16px;
}

.button-localizacao {
  background-color: #165f8d;
  border-color: #165f8d;
  color: white;
}

.button-localizacao:hover {
  background-color: #0b2f46;
  border-color: #0b2f46;
}

.conteudo-dados {
  opacity: 0%;
}

.conteudo-dados .tempo-descricao {
  font-size: 1em;
}

.conteudo-dados .tempo-descricao h4 {
  text-align: center;
}

.conteudo-dados .tempo-icone {
  text-align: center;
  margin-top: 20px;
}

.conteudo-dados .tempo-icone i {
  font-size: 6rem;
}

.main-temp {
  margin-top: 35px;
  text-align: center;
}

.main-temp .temp-col {
  margin-top: 10px;
}

.sugestoes {
  color: #0b2f46;
  /* no underline */
  text-shadow: none;
}

.sugestoes h4 {
  font-size: 1rem;
  width: 100%;
  margin-bottom: 0px;
  height: 100%;
  vertical-align: middle;
}

.sugestoes .card {
  height: 38px;
  padding: 0px;
}

.sugestoes .card-body {
  padding: 0px;
}

.sugestoes:hover {
  text-decoration: none;
  color: whitesmoke;
}

.sugestoes:hover .card {
  background-color: #0b2f46;
}

/* Extra small devices (phones, 600px and down) */
/* Small devices (portrait tablets and large phones, 600px and up) */
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .mainTitle h2 {
    font-size: 3em;
  }
  .main-temp .temp {
    font-size: 1.5em;
  }
}

.conteudo-dados {
  margin-top: 10px;
}

.conteudo-dados .tempo-descricao h4 {
  font-size: 2em;
}

.conteudo-dados .tempo-icone {
  text-align: center;
}

.conteudo-dados .tempo-icone i {
  font-size: 10rem;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .input-localizaçao {
    width: 65%;
  }
  #match-list {
    width: 65%;
  }
  .mainTitle h2 {
    font-size: 4em;
  }
  .conteudo-dados .tempo-descricao h4 {
    font-size: 3em;
  }
  .conteudo-dados .tempo-descricao .tempo-icone {
    text-align: center;
  }
  .conteudo-dados .tempo-descricao .tempo-icone i {
    font-size: 10rem;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@-webkit-keyframes aparecer {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes aparecer {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@-webkit-keyframes desaparecer {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

@keyframes desaparecer {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

@-webkit-keyframes deslizarCimaBaixo {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes deslizarCimaBaixo {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes tirarMargem {
  0% {
    margin-top: 150px;
  }
  100% {
    margin-top: 50px;
  }
}

@keyframes tirarMargem {
  0% {
    margin-top: 150px;
  }
  100% {
    margin-top: 50px;
  }
}

@-webkit-keyframes backAnim {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}

@keyframes backAnim {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}
/*# sourceMappingURL=styles.css.map */